html{
    background:#fff;
    color:#666
}
body{
    margin:0
}

h1,.uk-h1,h2,.uk-h2,h3,.uk-h3,h4,.uk-h4,h5,.uk-h5,h6,.uk-h6,.uk-heading-small,.uk-heading-medium,.uk-heading-large,.uk-heading-xlarge,.uk-heading-2xlarge{
    margin:0 0 20px 0;
    font-weight:normal;
    color:#333;
    text-transform:none
}
*+h1,*+.uk-h1,*+h2,*+.uk-h2,*+h3,*+.uk-h3,*+h4,*+.uk-h4,*+h5,*+.uk-h5,*+h6,*+.uk-h6,*+.uk-heading-small,*+.uk-heading-medium,*+.uk-heading-large,*+.uk-heading-xlarge,*+.uk-heading-2xlarge{
    margin-top:40px
}
h1,.uk-h1{
    font-size:2.23125rem;
    line-height:1.2
}
h2,.uk-h2{
    font-size:1.7rem;
    line-height:1.3
}


/*Login Button*/
.uk-button{
    margin:0;
    border:none;
    overflow:visible;
    font:inherit;
    color:inherit;
    text-transform:none;
    -webkit-appearance:none;
    border-radius:0;
    display:inline-block;
    box-sizing:border-box;
    padding:0 30px;
    vertical-align:middle;
    font-size:16px;
    line-height:40px;
    text-align:center;
    text-decoration:none
}
.uk-button:not(:disabled){
    cursor:pointer
}
.uk-button-primary{
    background-color:#688AAC;
    color:#fff
}
.uk-button-primary:hover,.uk-button-primary:focus{
    background-color:#597da2;
    color:#fff
}








.uk-container{
    display:flow-root;
    box-sizing:content-box;
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;
    padding-left:15px;
    padding-right:15px
}
@media (min-width:640px){
    .uk-container{
        padding-left:30px;
        padding-right:30px
    }
}
@media (min-width:960px){
    .uk-container{
        padding-left:40px;
        padding-right:40px
    }
}
.uk-container>:last-child{
    margin-bottom:0
}
.uk-container .uk-container{
    padding-left:0;
    padding-right:0
}
.uk-container-xsmall{
    max-width:750px
}
.uk-container-small{
    max-width:900px
}
.uk-container-large{
    max-width:1400px
}
.uk-container-xlarge{
    max-width:1600px
}
.uk-container-expand{
    max-width:none
}
.uk-container-expand-left{
    margin-left:0
}
.uk-container-expand-right{
    margin-right:0
}
@media (min-width:640px){
    .uk-container-expand-left.uk-container-xsmall,.uk-container-expand-right.uk-container-xsmall{
        max-width:calc(50% + (750px / 2) - 30px)
    }
    .uk-container-expand-left.uk-container-small,.uk-container-expand-right.uk-container-small{
        max-width:calc(50% + (900px / 2) - 30px)
    }
}
@media (min-width:960px){
    .uk-container-expand-left,.uk-container-expand-right{
        max-width:calc(50% + (1200px / 2) - 40px)
    }
    .uk-container-expand-left.uk-container-xsmall,.uk-container-expand-right.uk-container-xsmall{
        max-width:calc(50% + (750px / 2) - 40px)
    }
    .uk-container-expand-left.uk-container-small,.uk-container-expand-right.uk-container-small{
        max-width:calc(50% + (900px / 2) - 40px)
    }
    .uk-container-expand-left.uk-container-large,.uk-container-expand-right.uk-container-large{
        max-width:calc(50% + (1400px / 2) - 40px)
    }
    .uk-container-expand-left.uk-container-xlarge,.uk-container-expand-right.uk-container-xlarge{
        max-width:calc(50% + (1600px / 2) - 40px)
    }
}
.uk-container-item-padding-remove-left,.uk-container-item-padding-remove-right{
    width:calc(100% + 15px)
}
.uk-container-item-padding-remove-left{
    margin-left:-15px
}
.uk-container-item-padding-remove-right{
    margin-right:-15px
}
@media (min-width:640px){
    .uk-container-item-padding-remove-left,.uk-container-item-padding-remove-right{
        width:calc(100% + 30px)
    }
    .uk-container-item-padding-remove-left{
        margin-left:-30px
    }
    .uk-container-item-padding-remove-right{
        margin-right:-30px
    }
}
@media (min-width:960px){
    .uk-container-item-padding-remove-left,.uk-container-item-padding-remove-right{
        width:calc(100% + 40px)
    }
    .uk-container-item-padding-remove-left{
        margin-left:-40px
    }
    .uk-container-item-padding-remove-right{
        margin-right:-40px
    }
}






.uk-navbar{
    display:flex;
    position:relative
}
.uk-navbar-container:not(.uk-navbar-transparent){
    background:#688AAC
}
.uk-navbar-container>::before,.uk-navbar-container>::after{
    display:none!important
}
.uk-navbar-left,.uk-navbar-right,.uk-navbar-center,.uk-navbar-center-left>*,.uk-navbar-center-right>*{
    display:flex;
    align-items:center
}
.uk-navbar-right{
    margin-left:auto
}
.uk-navbar-center:only-child{
    margin-left:auto;
    margin-right:auto;
    position:relative
}
.uk-navbar-center:not(:only-child){
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:max-content;
    box-sizing:border-box;
    z-index:990
}
.uk-navbar-center-left,.uk-navbar-center-right{
    position:absolute;
    top:0
}
.uk-navbar-center-left{
    right:100%
}
.uk-navbar-center-right{
    left:100%
}
[class*='uk-navbar-center-']{
    width:max-content;
    box-sizing:border-box
}
.uk-navbar-nav{
    display:flex;
    margin:0;
    padding:0;
    list-style:none
}
.uk-navbar-left,.uk-navbar-right,.uk-navbar-center:only-child{
    flex-wrap:wrap
}
.uk-navbar-nav>li>a,.uk-navbar-item,.uk-navbar-toggle{
    display:flex;
    justify-content:center;
    align-items:center;
    box-sizing:border-box;
    min-height:80px;
    padding:0 15px;
    font-size:1.5rem;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    text-decoration:none
}
.uk-navbar-nav>li>a{
    color:#fff
}
.uk-navbar-nav>li:hover>a,.uk-navbar-nav>li>a:focus,.uk-navbar-nav>li>a.uk-open{
    color:#666;
    outline:none
}
.uk-navbar-nav>li>a:active{
    color:#333
}
.uk-navbar-nav>li.uk-active>a{
    color:#333
}
.uk-navbar-item{
    color:#666
}
.uk-navbar-toggle{
    color:#999
}
.uk-navbar-toggle:hover,.uk-navbar-toggle:focus,.uk-navbar-toggle.uk-open{
    color:#666;
    outline:none;
    text-decoration:none
}
.uk-navbar-subtitle{
    font-size:0.875rem
}





[class*='uk-animation-']{
    animation-duration:0.5s;
    animation-timing-function:ease-out;
    animation-fill-mode:both
}
.uk-animation-fade{
    animation-name:uk-fade;
    animation-duration:0.8s;
    animation-timing-function:linear
}
.uk-animation-scale-up{
    animation-name:uk-fade-scale-02
}
.uk-animation-scale-down{
    animation-name:uk-fade-scale-18
}
.uk-animation-slide-top{
    animation-name:uk-fade-top
}
.uk-animation-slide-bottom{
    animation-name:uk-fade-bottom
}
.uk-animation-slide-left{
    animation-name:uk-fade-left
}
.uk-animation-slide-right{
    animation-name:uk-fade-right
}
.uk-animation-slide-top-small{
    animation-name:uk-fade-top-small
}
.uk-animation-slide-bottom-small{
    animation-name:uk-fade-bottom-small
}
.uk-animation-slide-left-small{
    animation-name:uk-fade-left-small
}
.uk-animation-slide-right-small{
    animation-name:uk-fade-right-small
}
.uk-animation-slide-top-medium{
    animation-name:uk-fade-top-medium
}
.uk-animation-slide-bottom-medium{
    animation-name:uk-fade-bottom-medium
}
.uk-animation-slide-left-medium{
    animation-name:uk-fade-left-medium
}
.uk-animation-slide-right-medium{
    animation-name:uk-fade-right-medium
}
.uk-animation-kenburns{
    animation-name:uk-scale-kenburns;
    animation-duration:15s
}
.uk-animation-shake{
    animation-name:uk-shake
}
.uk-animation-stroke{
    animation-name:uk-stroke;
    stroke-dasharray:var(--uk-animation-stroke);
    animation-duration:2s
}
.uk-animation-reverse{
    animation-direction:reverse;
    animation-timing-function:ease-in
}
.uk-animation-fast{
    animation-duration:0.1s
}
.uk-animation-toggle:not(:hover):not(:focus) [class*='uk-animation-']{
    animation-name:none
}
.uk-animation-toggle{
    -webkit-tap-highlight-color:transparent
}
.uk-animation-toggle:focus{
    outline:none
}
@keyframes uk-fade{
    0%{
        opacity:0
    }
    100%{
        opacity:1
    }
}
@keyframes uk-fade-top{
    0%{
        opacity:0;
        transform:translateY(-100%)
    }
    100%{
        opacity:1;
        transform:translateY(0)
    }
}
@keyframes uk-fade-bottom{
    0%{
        opacity:0;
        transform:translateY(100%)
    }
    100%{
        opacity:1;
        transform:translateY(0)
    }
}
@keyframes uk-fade-left{
    0%{
        opacity:0;
        transform:translateX(-100%)
    }
    100%{
        opacity:1;
        transform:translateX(0)
    }
}
@keyframes uk-fade-right{
    0%{
        opacity:0;
        transform:translateX(100%)
    }
    100%{
        opacity:1;
        transform:translateX(0)
    }
}
@keyframes uk-fade-top-small{
    0%{
        opacity:0;
        transform:translateY(-10px)
    }
    100%{
        opacity:1;
        transform:translateY(0)
    }
}
@keyframes uk-fade-bottom-small{
    0%{
        opacity:0;
        transform:translateY(10px)
    }
    100%{
        opacity:1;
        transform:translateY(0)
    }
}
@keyframes uk-fade-left-small{
    0%{
        opacity:0;
        transform:translateX(-10px)
    }
    100%{
        opacity:1;
        transform:translateX(0)
    }
}
@keyframes uk-fade-right-small{
    0%{
        opacity:0;
        transform:translateX(10px)
    }
    100%{
        opacity:1;
        transform:translateX(0)
    }
}
@keyframes uk-fade-top-medium{
    0%{
        opacity:0;
        transform:translateY(-50px)
    }
    100%{
        opacity:1;
        transform:translateY(0)
    }
}
@keyframes uk-fade-bottom-medium{
    0%{
        opacity:0;
        transform:translateY(50px)
    }
    100%{
        opacity:1;
        transform:translateY(0)
    }
}
@keyframes uk-fade-left-medium{
    0%{
        opacity:0;
        transform:translateX(-50px)
    }
    100%{
        opacity:1;
        transform:translateX(0)
    }
}
@keyframes uk-fade-right-medium{
    0%{
        opacity:0;
        transform:translateX(50px)
    }
    100%{
        opacity:1;
        transform:translateX(0)
    }
}
@keyframes uk-fade-scale-02{
    0%{
        opacity:0;
        transform:scale(0.2)
    }
    100%{
        opacity:1;
        transform:scale(1)
    }
}
@keyframes uk-fade-scale-18{
    0%{
        opacity:0;
        transform:scale(1.8)
    }
    100%{
        opacity:1;
        transform:scale(1)
    }
}
@keyframes uk-scale-kenburns{
    0%{
        transform:scale(1)
    }
    100%{
        transform:scale(1.2)
    }
}
@keyframes uk-shake{
    0%,100%{
        transform:translateX(0)
    }
    10%{
        transform:translateX(-9px)
    }
    20%{
        transform:translateX(8px)
    }
    30%{
        transform:translateX(-7px)
    }
    40%{
        transform:translateX(6px)
    }
    50%{
        transform:translateX(-5px)
    }
    60%{
        transform:translateX(4px)
    }
    70%{
        transform:translateX(-3px)
    }
    80%{
        transform:translateX(2px)
    }
    90%{
        transform:translateX(-1px)
    }
}
@keyframes uk-stroke{
    0%{
        stroke-dashoffset:var(--uk-animation-stroke)
    }
    100%{
        stroke-dashoffset:0
    }
}



.uk-text-capitalize{
    text-transform:capitalize!important
}
.uk-text-uppercase{
    text-transform:uppercase!important
}
.uk-text-lowercase{
    text-transform:lowercase!important
}
.uk-text-muted{
    color:#999!important
}
.uk-text-emphasis{
    color:#333!important
}
.uk-text-primary{
    color:#688AAC!important
}
.uk-text-secondary{
    color:#222!important
}
.uk-text-success{
    color:#32d296!important
}
.uk-text-warning{
    color:#faa05a!important
}
.uk-text-danger{
    color:#f0506e!important
}
.uk-text-background{
    -webkit-background-clip:text;
    display:inline-block;
    color:#688AAC!important
}
@supports (-webkit-background-clip:text){
    .uk-text-background{
        background-color:#688AAC;
        color:transparent!important
    }
}
.uk-text-left{
    text-align:left!important
}
.uk-text-right{
    text-align:right!important
}
.uk-text-center{
    text-align:center!important
}
.uk-text-justify{
    text-align:justify!important
}
@media (min-width:640px){
    .uk-text-left\@s{
        text-align:left!important
    }
    .uk-text-right\@s{
        text-align:right!important
    }
    .uk-text-center\@s{
        text-align:center!important
    }
}
@media (min-width:960px){
    .uk-text-left\@m{
        text-align:left!important
    }
    .uk-text-right\@m{
        text-align:right!important
    }
    .uk-text-center\@m{
        text-align:center!important
    }
}
@media (min-width:1200px){
    .uk-text-left\@l{
        text-align:left!important
    }
    .uk-text-right\@l{
        text-align:right!important
    }
    .uk-text-center\@l{
        text-align:center!important
    }
}
@media (min-width:1600px){
    .uk-text-left\@xl{
        text-align:left!important
    }
    .uk-text-right\@xl{
        text-align:right!important
    }
    .uk-text-center\@xl{
        text-align:center!important
    }
}
.uk-text-top{
    vertical-align:top!important
}
.uk-text-middle{
    vertical-align:middle!important
}
.uk-text-bottom{
    vertical-align:bottom!important
}
.uk-text-baseline{
    vertical-align:baseline!important
}





@media (pointer:coarse){
    .uk-background-fixed{
        background-attachment:scroll
    }
}
@media (max-width:639px){
    .uk-background-image\@s{
        background-image:none!important
    }
}
@media (max-width:959px){
    .uk-background-image\@m{
        background-image:none!important
    }
}
@media (max-width:1199px){
    .uk-background-image\@l{
        background-image:none!important
    }
}
@media (max-width:1599px){
    .uk-background-image\@xl{
        background-image:none!important
    }
}

.uk-margin{
    margin-bottom:20px
}
*+.uk-margin{
    margin-top:20px!important
}
.uk-margin-top{
    margin-top:20px!important
}
.uk-margin-bottom{
    margin-bottom:20px!important
}
.uk-margin-left{
    margin-left:20px!important
}
.uk-margin-right{
    margin-right:20px!important
}
.uk-margin-small{
    margin-bottom:10px
}
*+.uk-margin-small{
    margin-top:10px!important
}
.uk-margin-small-top{
    margin-top:10px!important
}
.uk-margin-small-bottom{
    margin-bottom:10px!important
}
.uk-margin-small-left{
    margin-left:10px!important
}
.uk-margin-small-right{
    margin-right:10px!important
}
.uk-margin-medium{
    margin-bottom:40px
}
*+.uk-margin-medium{
    margin-top:40px!important
}
.uk-margin-medium-top{
    margin-top:40px!important
}
.uk-margin-medium-bottom{
    margin-bottom:40px!important
}
.uk-margin-medium-left{
    margin-left:40px!important
}
.uk-margin-medium-right{
    margin-right:40px!important
}
.uk-margin-large{
    margin-bottom:40px
}
*+.uk-margin-large{
    margin-top:40px!important
}
.uk-margin-large-top{
    margin-top:40px!important
}
.uk-margin-large-bottom{
    margin-bottom:40px!important
}
.uk-margin-large-left{
    margin-left:40px!important
}
.uk-margin-large-right{
    margin-right:40px!important
}
@media (min-width:1200px){
    .uk-margin-large{
        margin-bottom:70px
    }
    *+.uk-margin-large{
        margin-top:70px!important
    }
    .uk-margin-large-top{
        margin-top:70px!important
    }
    .uk-margin-large-bottom{
        margin-bottom:70px!important
    }
    .uk-margin-large-left{
        margin-left:70px!important
    }
    .uk-margin-large-right{
        margin-right:70px!important
    }
}
.uk-margin-xlarge{
    margin-bottom:70px
}
*+.uk-margin-xlarge{
    margin-top:70px!important
}
.uk-margin-xlarge-top{
    margin-top:70px!important
}
.uk-margin-xlarge-bottom{
    margin-bottom:70px!important
}
.uk-margin-xlarge-left{
    margin-left:70px!important
}
.uk-margin-xlarge-right{
    margin-right:70px!important
}
@media (min-width:1200px){
    .uk-margin-xlarge{
        margin-bottom:140px
    }
    *+.uk-margin-xlarge{
        margin-top:140px!important
    }
    .uk-margin-xlarge-top{
        margin-top:140px!important
    }
    .uk-margin-xlarge-bottom{
        margin-bottom:140px!important
    }
    .uk-margin-xlarge-left{
        margin-left:140px!important
    }
    .uk-margin-xlarge-right{
        margin-right:140px!important
    }
}
.uk-margin-auto{
    margin-left:auto!important;
    margin-right:auto!important
}
.uk-margin-auto-top{
    margin-top:auto!important
}
.uk-margin-auto-bottom{
    margin-bottom:auto!important
}
.uk-margin-auto-left{
    margin-left:auto!important
}
.uk-margin-auto-right{
    margin-right:auto!important
}
.uk-margin-auto-vertical{
    margin-top:auto!important;
    margin-bottom:auto!important
}
@media (min-width:640px){
    .uk-margin-auto\@s{
        margin-left:auto!important;
        margin-right:auto!important
    }
    .uk-margin-auto-left\@s{
        margin-left:auto!important
    }
    .uk-margin-auto-right\@s{
        margin-right:auto!important
    }
}
@media (min-width:960px){
    .uk-margin-auto\@m{
        margin-left:auto!important;
        margin-right:auto!important
    }
    .uk-margin-auto-left\@m{
        margin-left:auto!important
    }
    .uk-margin-auto-right\@m{
        margin-right:auto!important
    }
}
@media (min-width:1200px){
    .uk-margin-auto\@l{
        margin-left:auto!important;
        margin-right:auto!important
    }
    .uk-margin-auto-left\@l{
        margin-left:auto!important
    }
    .uk-margin-auto-right\@l{
        margin-right:auto!important
    }
}
@media (min-width:1600px){
    .uk-margin-auto\@xl{
        margin-left:auto!important;
        margin-right:auto!important
    }
    .uk-margin-auto-left\@xl{
        margin-left:auto!important
    }
    .uk-margin-auto-right\@xl{
        margin-right:auto!important
    }
}
.uk-margin-remove{
    margin:0!important
}
.uk-margin-remove-top{
    margin-top:0!important
}
.uk-margin-remove-bottom{
    margin-bottom:0!important
}
.uk-margin-remove-left{
    margin-left:0!important
}
.uk-margin-remove-right{
    margin-right:0!important
}
.uk-margin-remove-vertical{
    margin-top:0!important;
    margin-bottom:0!important
}
.uk-margin-remove-adjacent+*,.uk-margin-remove-first-child>:first-child{
    margin-top:0!important
}
.uk-margin-remove-last-child>:last-child{
    margin-bottom:0!important
}
@media (min-width:640px){
    .uk-margin-remove-left\@s{
        margin-left:0!important
    }
    .uk-margin-remove-right\@s{
        margin-right:0!important
    }
}
@media (min-width:960px){
    .uk-margin-remove-left\@m{
        margin-left:0!important
    }
    .uk-margin-remove-right\@m{
        margin-right:0!important
    }
}
@media (min-width:1200px){
    .uk-margin-remove-left\@l{
        margin-left:0!important
    }
    .uk-margin-remove-right\@l{
        margin-right:0!important
    }
}
@media (min-width:1600px){
    .uk-margin-remove-left\@xl{
        margin-left:0!important
    }
    .uk-margin-remove-right\@xl{
        margin-right:0!important
    }
}
.uk-padding{
    padding:30px
}
@media (min-width:1200px){
    .uk-padding{
        padding:40px
    }
}
.uk-padding-small{
    padding:15px
}
.uk-padding-large{
    padding:30px
}
@media (min-width:1200px){
    .uk-padding-large{
        padding:70px
    }
}
.uk-padding-remove{
    padding:0!important
}
.uk-padding-remove-top{
    padding-top:0!important
}
.uk-padding-remove-bottom{
    padding-bottom:0!important
}
.uk-padding-remove-left{
    padding-left:0!important
}
.uk-padding-remove-right{
    padding-right:0!important
}
.uk-padding-remove-vertical{
    padding-top:0!important;
    padding-bottom:0!important
}
.uk-padding-remove-horizontal{
    padding-left:0!important;
    padding-right:0!important
}
[class*='uk-position-top'],[class*='uk-position-bottom'],[class*='uk-position-left'],[class*='uk-position-right'],[class*='uk-position-center']{
    position:absolute!important;
    max-width:100%
}
.uk-position-top{
    top:0;
    left:0;
    right:0
}
.uk-position-bottom{
    bottom:0;
    left:0;
    right:0
}
.uk-position-left{
    top:0;
    bottom:0;
    left:0
}
.uk-position-right{
    top:0;
    bottom:0;
    right:0
}
.uk-position-top-left{
    top:0;
    left:0
}
.uk-position-top-right{
    top:0;
    right:0
}
.uk-position-bottom-left{
    bottom:0;
    left:0
}
.uk-position-bottom-right{
    bottom:0;
    right:0
}
.uk-position-center{
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:max-content;
    max-width:100%;
    box-sizing:border-box
}
[class*='uk-position-center-left'],[class*='uk-position-center-right']{
    top:50%;
    transform:translateY(-50%)
}
.uk-position-center-left{
    left:0
}
.uk-position-center-right{
    right:0
}
.uk-position-center-left-out{
    right:100%;
    width:max-content
}
.uk-position-center-right-out{
    left:100%;
    width:max-content
}
.uk-position-top-center,.uk-position-bottom-center{
    left:50%;
    transform:translateX(-50%);
    width:max-content;
    max-width:100%;
    box-sizing:border-box
}
.uk-position-top-center{
    top:0
}
.uk-position-bottom-center{
    bottom:0
}
.uk-position-cover{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0
}
.uk-position-relative{
    position:relative!important
}
.uk-position-absolute{
    position:absolute!important
}
.uk-position-fixed{
    position:fixed!important
}
.uk-position-z-index{
    z-index:1
}
.uk-position-small{
    max-width:calc(100% - (15px * 2));
    margin:15px
}
.uk-position-small.uk-position-center{
    transform:translate(-50%,-50%) translate(-15px,-15px)
}
.uk-position-small[class*='uk-position-center-left'],.uk-position-small[class*='uk-position-center-right']{
    transform:translateY(-50%) translateY(-15px)
}
.uk-position-small.uk-position-top-center,.uk-position-small.uk-position-bottom-center{
    transform:translateX(-50%) translateX(-15px)
}
.uk-position-medium{
    max-width:calc(100% - (30px * 2));
    margin:30px
}
.uk-position-medium.uk-position-center{
    transform:translate(-50%,-50%) translate(-30px,-30px)
}
.uk-position-medium[class*='uk-position-center-left'],.uk-position-medium[class*='uk-position-center-right']{
    transform:translateY(-50%) translateY(-30px)
}
.uk-position-medium.uk-position-top-center,.uk-position-medium.uk-position-bottom-center{
    transform:translateX(-50%) translateX(-30px)
}
.uk-position-large{
    max-width:calc(100% - (30px * 2));
    margin:30px
}
.uk-position-large.uk-position-center{
    transform:translate(-50%,-50%) translate(-30px,-30px)
}
.uk-position-large[class*='uk-position-center-left'],.uk-position-large[class*='uk-position-center-right']{
    transform:translateY(-50%) translateY(-30px)
}
.uk-position-large.uk-position-top-center,.uk-position-large.uk-position-bottom-center{
    transform:translateX(-50%) translateX(-30px)
}
@media (min-width:1200px){
    .uk-position-large{
        max-width:calc(100% - (50px * 2));
        margin:50px
    }
    .uk-position-large.uk-position-center{
        transform:translate(-50%,-50%) translate(-50px,-50px)
    }
    .uk-position-large[class*='uk-position-center-left'],.uk-position-large[class*='uk-position-center-right']{
        transform:translateY(-50%) translateY(-50px)
    }
    .uk-position-large.uk-position-top-center,.uk-position-large.uk-position-bottom-center{
        transform:translateX(-50%) translateX(-50px)
    }
}


[hidden],.uk-hidden{
    display:none!important
}
@media (min-width:640px){
    .uk-hidden\@s{
        display:none!important
    }
}
@media (min-width:960px){
    .uk-hidden\@m{
        display:none!important
    }
}
@media (min-width:1200px){
    .uk-hidden\@l{
        display:none!important
    }
}
@media (min-width:1600px){
    .uk-hidden\@xl{
        display:none!important
    }
}
@media (max-width:639px){
    .uk-visible\@s{
        display:none!important
    }
}
@media (max-width:959px){
    .uk-visible\@m{
        display:none!important
    }
}
@media (max-width:1199px){
    .uk-visible\@l{
        display:none!important
    }
}
@media (max-width:1599px){
    .uk-visible\@xl{
        display:none!important
    }
}
.uk-invisible{
    visibility:hidden!important
}
.uk-visible-toggle:not(:hover):not(:focus) .uk-hidden-hover:not(:focus-within){
    position:absolute!important;
    width:0!important;
    height:0!important;
    padding:0!important;
    margin:0!important;
    overflow:hidden!important
}
.uk-visible-toggle:not(:hover):not(:focus) .uk-invisible-hover:not(:focus-within){
    opacity:0!important
}

@media (pointer:coarse){
    .uk-hidden-touch{
        display:none!important
    }
}
.uk-hidden-notouch{
    display:none!important
}
@media (pointer:coarse){
    .uk-hidden-notouch{
        display:block!important
    }
}

@media print{
    *,*::before,*::after{
        background:transparent!important;
        color:black!important;
        box-shadow:none!important;
        text-shadow:none!important
    }
    a,a:visited{
        text-decoration:underline
    }
    img{
        max-width:100%!important
    }
    @page{
        margin:0.5cm
    }
    p,h2,h3{
        orphans:3;
        widows:3
    }
    h2,h3{
        page-break-after:avoid
    }
}
html,h1,.uk-h1,h2,.uk-h2,h3,.uk-h3,h4,.uk-h4,h5,.uk-h5,h6,.uk-h6,.uk-heading-small,.uk-heading-medium,.uk-heading-large,.uk-heading-xlarge,.uk-heading-2xlarge{
    font-family:"Montserrat",sans-serif
}

header{
    height:55vh;
    background:#a2a2a2
}
#headerborder{
    position:absolute;
    right:0;
    border-bottom:30px solid transparent;
    border-top:30px solid transparent;
    border-right:100vw solid #688AAC;
    height:0;
    width:0;
    margin-top:-30px
}
h1,h2,h3,h4,h5,h6{
    text-transform:uppercase
}
.uk-navbar-nav>li:hover>a,.uk-navbar-nav>li>a:focus,.uk-navbar-nav>li>a.uk-open,.uk-navbar-nav>li.uk-active>a{
    text-shadow:1px 1px 2px #fff
}
.uk-navbar-nav>li>a{
    text-shadow:1px 1px 2px darkgray
}

.uk-button{
    text-transform:uppercase;
    border-radius:0.5em
}

#content-head{
    width:100%;
    text-align:center
}
h1:after,h2:after{
    content:"";
    display:block;
    margin:0 auto;
    width:10%;
    padding-top:10px;
    border-bottom:5px solid;
    border-color:#688AAC
}

